@font-face {
	font-family: 'Geometria';
	font-style: normal;
	font-weight: 400;
	src: local('Geometria'),
		url('/fonts/geometria-font/Geometria-Regular.woff2') format('woff2'), 
}
@font-face {
	font-family: 'Geometria';
	font-style: normal;
	font-weight: 500;
	src: local('Geometria'),
		url('/fonts/geometria-font/Geometria-Medium.woff2') format('woff2'), 
}
@font-face {
	font-family: 'Geometria';
	font-style: normal;
	font-weight: 700;
	src: local('Geometria'),
		url('/fonts/geometria-font/Geometria-Bold.woff2') format('woff2'), 
}
@font-face {
	font-family: 'Geometria';
	font-style: normal;
	font-weight: 800;
	src: local('Geometria'),
		url('/fonts/geometria-font/Geometria-ExtraBold.woff2') format('woff2'), 
}