@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';





///////////////////first-screen
.first-screen {
    background: url("../images/backgrounds/main.png");
    &.second {
        background: url("../images/backgrounds/main2.png");
    }
    background-size: cover;
    padding-top: 230px;
    padding-bottom: 250px;
    position: relative;
    height: 100vh;
    margin-bottom: 103px;
    &__arrow {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        bottom: 20px;
        margin-bottom: 26px;
        img {
            animation: scroll 1.4s ease-out infinite;
            transform: translateY(-20px);
            
        }
    }
    
    @keyframes scroll {
        0% {
            transform: translateY(-20px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
}
.center-help {
    z-index: -1;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    
    justify-content: center;
    align-items: center;
    &__circle-white {
        background: linear-gradient(147.64deg, #FFFFFF 13.56%, #F1F1F1 85.54%);
        border-radius: 50%;
        min-width: 664px;
        min-height: 664px;
        z-index: -1;

    }
    &__circle-green {
        background: red ;
        min-width: 20px;
        min-height: 20px;
        position: absolute;      
        top: -148px;
        right: -223px;
        background: linear-gradient(147.64deg, #C5D210 13.56%, #82B428 85.54%);
        border-radius: 50%;
        width: 268px;
        height: 268px;
    }
    &__circle-blue {
        background: linear-gradient(147.64deg, #8DCEED 13.56%, #2DA3DC 85.54%);
        min-width: 105px;
        min-height: 105px;
        position: absolute;
        border-radius: 50%;
        right: -303.3px;
        top: 110px;

    }
}


.first-screen-wrapper {
    display: flex;
    position: relative;
    z-index: 2;
    flex-direction: column;
    max-width: 403px;
    
   
   
    &__logo {
        max-width: 242px;
        margin-bottom: 35px;
    }
    &__title {
        font-family: 'Geometria';
        font-style: normal;
        font-weight: 800;
        font-size: 48rem;
        line-height: 60px;
        text-transform: uppercase;
        color: #82B428;
        
        margin-bottom: 35px;
    }
    &__text {
        font-family: 'Geometria';
        font-style: normal;
        font-weight: 400;
        
        font-size: 24rem;
        line-height: 110%;
        color: #2B2422;
        margin-bottom: 35px;
    }

    &__btn {
        background: linear-gradient(34.66deg, #BC1822 16.88%, #E53322 76%);
        box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
        border-radius: 50px;
        width: fit-content;
        border: none;
        cursor: pointer;
        color: #fff;
        padding: 11px 21px 13px 22px;
        transition: all .3s;
        font-size: 20rem;
        &:hover {
            transform: scale(1.1);
        }
    }
    
    
}

///////////////////


.to-new {
    margin-bottom: 104px;
    scroll-margin-top: 100px;
    &__wrapper-left {
        flex: 0 1 419px;
        margin-right: 58px;
    }

    &__title {
        font-family: 'Geometria';
        font-style: normal;
        font-weight: 800;
        font-size: 36rem;
        max-width: 387px;
        line-height: 45px;
        text-transform: uppercase;
        color: #82B428;
        margin-bottom: 40px;
    }

    &__text {
        font-family: 'Geometria';
        font-style: normal;
        font-weight: 400;
        font-size: 24rem;
        line-height: 120%;
        color: #2B2422;
        &.first {
            padding-bottom: 20px;
        }
    }

    &__wrapper-right {
        flex: 0 1 635px;
    }
    .wrapper {
        display: flex;
        flex-direction: row;
    
    }
}
///////////////////

.more-better {
    color: #fff;
    margin-bottom: 110px;
    &__title {
        font-weight: 800;
        font-size: 36rem;
        line-height: 45px;
        text-transform: uppercase;
        margin-bottom: 50px;
        color: #2DA3DC;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }
    
    
    &__card {
        &:hover  &-title {
            transform: translateY(0);
            
        }
        &:hover &-text {
            opacity: 1;
            transition-delay: .2s;
        }
        &:hover.item1{
            background:  linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url('../images/backgrounds/better1.png');  
        }
        &:hover.item2{
            background:  linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url('../images/backgrounds/better2.png');  
        }
        &:hover.item3{
            background:  linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url('../images/backgrounds/better3.png');  
        }
        &:hover.item4{
            background:  linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url('../images/backgrounds/better4.png');  
        }
        &:hover.item5{
            background:  linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url('../images/backgrounds/better5.png');  
        }
        &:hover.item6{
            background:  linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url('../images/backgrounds/better6.png');  
        }


        width: 350px;
        height: 280px;
        justify-content: flex-end;
        display: flex;
        flex-direction: column;
        background-blend-mode: multiply;
        border-radius: 10px;
        
        
    }
    
    &__card.item1 {
        
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%),url('../images/backgrounds/better1.png');
        transition: all .3s;
        
    }
    &__card.item2 {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%),url('../images/backgrounds/better2.png');
        
    }
    &__card.item3 {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%),url('../images/backgrounds/better3.png');
    }
    &__card.item4 {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%),url('../images/backgrounds/better4.png');
    }
    &__card.item5 {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%),url('../images/backgrounds/better5.png');
    }
    &__card.item6 {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%),url('../images/backgrounds/better6.png');
    }

    &__card-title {
        font-size: 24rem;
        margin: 0 28px ;
        margin-bottom: 26px;
        font-weight: 400;
        line-height: 100%;
        transform: translateY(136px);
        transition: all .3s;
       
        
    }
    
    &__card-text {
        margin: 0 28px;
        font-size: 14rem;
        margin-bottom: 10px;
        min-height: 134px;
        font-weight: 500;
        opacity: 0;
        transition: all .5s;
    }


}


///////////////////

.for-life {
    margin-bottom: 173px;
    &__title {
        margin-bottom: 60px;
        
    }
    position: relative;
    .swiper-pagination {
        position: absolute;
        z-index: 11;
        
    }
    .swiper-pagination-bullet-active {
        background: #2DA3DC;
    }
    .swiper-pagination-bullet {
        margin-right: 18px !important;
        width: 12px;
        height: 12px;
        transform: translateY(70px);
        z-index: 11;
    }


    &__wrapper {
        width: 1140px;
        display: flex;
        border: 1px solid #C5C5C5;
        box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        overflow: hidden;
        
    }

    &__img {
        flex: 0 1 360px;
        max-height: 547px;
        object-fit: cover;

    }

    &__left-img {
        width: 375px;
        height: 284px;        
    }
    &__left-additional {
        display: block;
        text-align: center;
    }

    &__room {
        flex: 1 0 680px;
        
        
    }
   
    &__info {
        display: flex;
        margin-top: 70px;
        
    }

    &__left-info {
        flex: 0 1 375px;
        margin-right: 39px;
    }

    &__right-info {
        flex: 0 1 295px;
        margin-bottom: 13px;
    }

    &__right-title {
        font-size: 24rem;
        line-height: 30px;
        color: #2B2422;
        margin-bottom: 37px;
    }
    &__left-additional {
        font-style: italic;
        font-size: 17rem;
    }

    &__right-text {
        font-weight: 400;
        font-size: 16rem;
        line-height: 23px;
        color: #000000;
        margin-bottom: 34px;
    }

    &__right-btn {
        padding: 11px 24px;
        background: linear-gradient(34.66deg, #82B428 16.88%, #C5D210 76%);
    }
    &__hr {
        width: 90%;
        display: block;
        margin-bottom: 25px;
    }

    &__table {
        display: flex;
        justify-content: space-between;
        max-width: 630px;
        margin: 0 auto;
    }
    &__item {
        font-size: 17rem;
        line-height: 23px;
        color: #2B2422;
    }
    &__item > * {
        font-weight: 800;
        font-size: 22rem;
        line-height: 28px;
        color: #2B2422;
    }
}


///////////////////

.advant {
    margin-bottom: 21px;
    &__wrapper {
        display: flex;
        justify-content: space-between;

    }
    &__card {
        flex: 0 1 350px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 280px;
    }
    &__card.first {
        background: url(../images/advant/photo1.png);

    }
    &__card.second {
        background: url(../images/advant/photo2.png);

    }
    &__card.third {
        background: url(../images/advant/photo3.png);

    }


    &__title {
       padding: 77px 84px 31px 28px;
       font-weight: 500;
        font-size: 24rem;
        color: #FFFFFF;
        background: linear-gradient(180deg, rgba(100, 104, 101, 0) 16.67%, #646865 100%);
        background-blend-mode: multiply;
        border-radius: 0px 0px 10px 10px;
        
    }
}
//////////////////////////



.finishing {
    margin-bottom: 100px;
    &__wrapper {
        background: url('../images/finishing.jpg');
        height: 350px;
        background-size: contain;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    &__inner {
        margin-right: 59px;
        margin-bottom: 45px;
        flex: 0 1 284px;
        
    }
    &__title {
        font-weight: 800;
        font-size: 36rem;
        line-height: 45px;
        text-transform: uppercase;
        color: #646865;
        margin-bottom: 30px;
    }
    &__btn {
        padding: 11px 14px;
        background: linear-gradient(34.66deg, #82B428 16.88%, #C5D210 76%);
    }
}


////////////////////////////


.details {
    margin-bottom: 100px;
    &__title {
        font-weight: 800;
        font-size: 48rem;
        line-height: 60px;
        text-align: center;
        text-transform: uppercase;
        max-width: 644px;
        color: #2DA3DC;
        margin: 0 auto;
        margin-bottom: 44px;

    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
    }
    &__wrapper.hidden {
        margin-top: 30px;
    }

    &__card {
        background: red;
        width: 300px;
        height: 250px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        justify-content: flex-end;
        
    }
    &__card:nth-child(1) {
        background: url('../images/details/photo1.png')
    }
    &__card:nth-child(2) {
        background: url('../images/details/photo2.png')
    }
    &__card:nth-child(3) {
        background: url('../images/details/photo3.png')
    }
    &__card:nth-child(4) {
        background: url('../images/details/photo4.png')
    }
    &__card:nth-child(5) {
        background: url('../images/details/photo5.png')
    }
    &__card:nth-child(6) {
        background: url('../images/details/photo6.png')
    }
    &__card:nth-child(7) {
        background: url('../images/details/photo7.png')
    }
    &__card:nth-child(8) {
        background: url('../images/details/photo8.png')
    }
    &__card:nth-child(9) {
        background: url('../images/details/photo9.png')
    }

    &__card:nth-child(6n+1) {
        flex: 0 0 350px;
    }
    &__card:nth-child(6n+2) {
        flex: 0 0 280px
    }
    &__card:nth-child(6n+3) {
        flex: 0 0 415px;
    }
    &__card:nth-child(6n+4) {
        flex: 0 0 415px;
    }
    &__card:nth-child(6n+5) {
        flex: 0 0 350px;
    }
    &__card:nth-child(6n+6) {
        flex: 0 0 280px;
    }


    &__card-title {
        padding: 76px 28px 32px 28px;
        font-weight: 500;
        font-size: 24rem;
        color: #FFFFFF;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        background-blend-mode: multiply;
        border-radius: 0px 0px 10px 10px;
    }
    &__showmore {
        font-weight: 800;
        font-size: 24rem;
        text-align: center;
        color: #C5C5C5;
        margin: 0 auto;
        display: block;
        border: none;
        margin-top: 72px;
        background: none;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}

//////////////

.discounts {
    background: url('../images/backgrounds/discounts.png');
    padding-top: 62px;
    background-repeat: no-repeat;
    margin-bottom: 100px;
    &__title {
        max-width: 230px;
        margin-bottom: 32px;
    }

    &__text {
        margin-bottom: 46px;
        max-width: 442px;

    }

    &__btn {
        margin-bottom: 68px;
        background: linear-gradient(34.66deg, #82B428 16.88%, #C5D210 76%);
    }
}

////////////////



.removal {
    margin-bottom: 100px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__left {
        flex: 0 1 415px;
    }

    &__title {
        margin-bottom: 40px;
    }

    

    &__right {
        flex: 0 0 627px;
    }
}
//////////////////

.wanna-life {
    background: url('../images/form.jpg');
    padding-top: 102px;
    position: relative;
    padding-bottom: 90px;
    &::after {
        position: absolute;
        content: '';
        bottom: 0;
        width: 1119px;
        background: linear-gradient(90deg, #212121 3.84%, rgba(12, 12, 12, 0.359375) 74.98%, rgba(0, 0, 0, 0) 100%);
        background-blend-mode: multiply;
        position: absolute;
        z-index: -0;
        top: 0;
        left: 0;
       
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        z-index: 2;
        position: relative;
        
        
       
    }

    &__left {
        flex: 0 1 411px;
    }

    

    &__text {
        font-weight: 400;
        font-size: 24rem;
        color: #FFFFFF;
    }

    &__right {
        flex: 0 1 562px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        z-index: 4444444;
    }
    &__form-item {
        background: #FFFFFF;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 50px;
        padding: 24px 29px 18px 29px;
        margin-bottom: 11px;
        outline: none;
        &::placeholder {
            font-size: 26rem;
            color: #C4C4C4;
        }
    }
    &__form-tel {
        margin-bottom: 23px;
    }
    &__form-btn {
        margin-left: auto;
        padding: 11px 60px;
        background: linear-gradient(34.66deg, #82B428 16.88%, #C5D210 76%);
    }
    
}
////////////////


.footer {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}